<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="defaultStatus" value="True"/>
    <add key="defaultDomain" value="DevTwo"/>
    <add key="defaultConnectionString" value="PRONETConnection"/>
    <add key="SQLKEYINVALID" value="00000000-0000-0000-0000-000000000000"/>
    <add key="SQLKEYAPLADMIN" value="45F2AE12-1428-481E-8A87-43566914B91A"/>
    <add key="SQLKEYAPPADMIN" value="A3926B0F-B24D-489B-B53E-8CC5AAE8938A"/>
    <add key="SQLKEYANLALYST" value="E4A94770-9293-408E-9CDA-FA886FC5DA1E"/>
    <add key="SQLKEYAPPROVER" value="7764876D-1C9D-4E3F-814C-EF2ECDFCFBD3"/>
    <add key="SQLKEYSHARED" value="72B9ED08-5D12-48FD-9CF7-56A3CA30E660"/>
    <add key="SQLKEYPRIVATE" value="9C8B31D8-ACD5-446A-912E-3019BAF05E6C"/>
  </appSettings>
  <connectionStrings>
        <add name="PRONETConnectionOFF" connectionString="Data Source=LOCALHOST\SQL2012;Initial Catalog=APLNet;Integrated Security=True;User Instance=False" providerName="System.Data.SqlClient"/>
        <add name="PRONETConnection" connectionString="Data Source=APLVM01\SQL2012;Initial Catalog=APLNet;User Id=;password=;Pooling=True;" providerName="System.Data.SqlClient"/>
    </connectionStrings>
</configuration>
