<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="defaultStatus" value="True"/>
    <add key="defaultDomain" value="DevTwo"/>
    <add key="defaultConnectionString" value="PRONETConnection"/>
  </appSettings>
  <connectionStrings>
        <add name="PRONETConnectionOFF" connectionString="Data Source=LOCALHOST\SQL2012;Initial Catalog=APLNet;Integrated Security=True;User Instance=False" providerName="System.Data.SqlClient"/>
        <add name="PRONETConnection" connectionString="Data Source=APLVM01\SQL2012;Initial Catalog=APLNet;User Id=PRONetUser;password=$ProNetUser$;Pooling=True;" providerName="System.Data.SqlClient"/>
    </connectionStrings>
</configuration>